@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

:root {
    --primary-text-color: #3d3d3d;
    --second-color: #ffc400;
    --second-color-black: #ff9035;
    --primary-color: #0a95cc;
    --second-text-color: #004898;
}

body{
    margin: 0;
    width: 100%;
    color: var(--primary-text-color);
    font-family: "montserrat";
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, p{
    margin: 0;
}

.btn {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: "montserrat";
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navigation bar */

.navbar {
    position: fixed;
    z-index: 5;

    width: 100%;
    height: 62px;
    
    background-color: white;
    box-shadow: 0px 10px 20px rgba(10, 149, 204, .3);
}

nav {
    position: absolute; /*relative to the .navbar box*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
}

nav, nav > div {
    display: flex;
    justify-content: space-between;
}


.logo > a {
    font-family: "PT Sans Narrow";
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 0.03em;
    /* 

        comment-1:
        when I added the padding to the a in the navbar 
        the text logo shifted to the top, text-align: center; didn't fix it 
        but margin: auto; did.
    
    */
    margin: 0 auto 0 .3em;
}


.sign-up-btn {
    padding: .6em 1.5em;
    margin: auto 0 auto .9em; /* same behaviour as the text of the logo (see comment-1) */

    font-size: .9em;
    color: white;
    background-image: linear-gradient(var(--second-text-color), var(--primary-color));
}

.sign-up-btn:hover{
    box-shadow: 0px 0px 7px var(--second-text-color);
    transform: translateY(-5%);
}

nav > .links > ul {
    display: flex;

    margin: auto;

    text-transform: uppercase;
}

/*

    changed this from "nav > .links > ul > li" to "nav > .links > ul > li > a"
    it made the clickable space of the a tag bigger due to the padding, 
    it's more convenient for the user.

*/

.link{
    padding: 1.3em 2em; 
    border-bottom: solid 6px transparent;
    font-size: .8em;
    transition: .2s ease-in;
}

.link:hover {
    color: var(--second-color);
    border-bottom: solid 6px var(--second-color);
}

.menu {
    display: none;
    margin: auto 0;
    cursor: pointer;
}

.line{
    width: 35px;
    border-top: 4px solid var(--primary-text-color);   
}

.line:nth-child(1), .line:nth-child(2) {
    margin-bottom: 5px;
}

/* /Navigation bar */

/* hero section*/

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header > section {

    width: 100%;
    height: 100%;

    background-image: url(img/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header > section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    background-color: rgba(10, 149, 204, .1);
    box-shadow: inset 120px 100px 250px rgba(10, 149, 204, .7);
}

/*

    grouped the .intro & the .hero-btn in a .under-headline div
    so that it could positioned easely.

*/
.hero-content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headline {
    margin-bottom: .2em;
    white-space: nowrap; /*to prevent line break*/
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    text-align: center;
    font-size: 11vw; 
    color: white;
    text-shadow: 0.05em 0.05em var(--second-text-color);
    letter-spacing: 0.03em;
    word-spacing: 0.09em;

}

.intro {
    margin-bottom: 1.6em;
    text-align: center;
    font-size: 1.2em;
    color: rgba(255, 255, 255, .9);
}

.hero-btn {
    padding: 1em 3.3em;
    display: block; /* this is an a tag, I had to make it a block element to set the width, if I take this down it will take the whole width of the div*/
    margin: auto;
    width: 6.6em;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: white;
    background-image: linear-gradient(var(--second-color-black), var(--second-color));
}

.hero-btn:hover {
    box-shadow: 0px 0px 11px var(--second-color);
    transform: translateY(-5%);
}

/* /hero section*/

/* section2 */

.content {

    position: relative;
    background-image: url(img/bg2.webp);
    background-position: center center;
    background-repeat: no-repeat;

    height: 50vh;
    text-align: center;
}

.content::before{
    content: '';
    position: absolute; /* relative to the .content section*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
}

.text-content {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-content > p {
    max-width: 750px;
    margin: auto;
}

/* /section2 */

/* main section */
main{
    display: grid;
    grid-template:  "text1 img1"
                    "img2 text2"
                    "text3 img3";
    align-content: center;
    justify-content: center;
}

main > img {
    width: 100%;
}

.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}



main > div {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 1.5em;
}

h2 {
    margin-bottom: .5em;
}

@media  only screen and (max-width: 800px){
    .headline{
        white-space: normal;
        font-size: 4.5em;
        top: 3.4em;
    }
     
    .headline > span {
        white-space: nowrap;
    }
}


@media  only screen and (max-width: 760px){
    .links {
        display: none;
    }
 
    .menu {
        display: block;
    }

    main {
        grid-template: "text1" "img1" "text2" "img2" "text3" "img3";
    }
}






